* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  position: relative;
  border-top: 10px solid #1098ad;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 10px 30px;
  height: 90px;
  top: 0;
  width: 1158px;
}

.searchbar-and-btn {
  margin-right: -50px;
  width: 300px;
}

.searchbar {
  margin-top: 10px;
  border-radius: 50s%;
  border: none;
  height: 30px;
  width: 85%;
  background-color: white;
  padding-left: 15px;
}

.btn-search {
  background-color: white;
  border: none;
  border-radius: 8%;
  height: 17px;
  width: 15px;
  margin-left: -25px;
  cursor: pointer;
}

nav {
  font-size: 18px;
}

.links {
  margin-top: 10px;
  display: flex;
  align-items: initial;
  /* gap: 5px; */
  font-weight: bold;
}

a {
  font-size: 10px;
}

.header-logo {
  width: 4%;
  height: auto;
}

.sub-header {
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 30px 30px;
  width: 230px;
  margin-top: 15px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  margin-left: -400px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

.related-list {
  list-style: none;
  margin-left: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

a:link {
  color: #1098ad;
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orange;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

h2 {
  position: relative;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.related-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-game {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 850px 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  /* grid-column: 1 / span 2; */
  grid-column: 1 / -1;
}

.slideshow-container {
  margin-top: 5px;
  justify-content: left;
  display: flex;
  align-items: center;
}

.banner {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

/* Hide the images by default */
.mySlide {
  display: none;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: left;
  margin-left: 365px;
  width: 89%;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.sld-img {
  width: 825px;
  height: auto;
}

.list-games {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 268px 268px 268px;
  grid-column-start: span 2;
  gap: 25px 10px;
  grid-template-rows: auto;
  list-style-type: none;
  width: 825px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0px;
  float: left;
  width: 100%;
}

.itemGame {
  font-size: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  text-align: left;
  padding: 55px 5px 35px 15px;
  list-style: none;
  margin-left: 0;
  position: relative;
  cursor: pointer;
}

.itemGame:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.tag {
  display: flex;
  position: absolute;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  margin-top: -25px;
  justify-self: flex-start;
  /* margin-bottom: 55px; */
  gap: 0.4rem;
  background-color: #1098ad;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 10px;
  text-transform: uppercase;
  color: #f2f2f2;
  border-radius: 100px;
  font-weight: 600;
}

article {
  width: 825px;
  margin-left: 0;
  margin-right: auto;
  margin-top: -680px;
}
.tag-name {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  width: auto;
  padding: 2px;
}
