* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: red;
  /* display: flex;
  align-items: center; */
  gap: 31%;
  height: 80px;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 50px 50px 150px;
  align-items: center;
}

.logo {
  margin-left: -320px;
  color: #1098ad;
  text-transform: uppercase;
  font-style: italic;
}

.header-logo {
  height: 40px;
  width: 40px;
  margin-left: 45px;
}

.searchbar-and-btn {
  margin-right: -50px;
  width: 300px;
}

.searchbar {
  margin-top: 10px;
  border-radius: 50s%;
  border: none;
  height: 30px;
  width: 85%;
  background-color: white;
  padding-left: 15px;
}

.btn-search {
  background-color: white;
  border: none;
  border-radius: 8%;
  height: 17px;
  width: 15px;
  margin-left: -25px;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.links {
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  gap: 30px;
  margin-left: 15px;
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

h2 {
  color: #1098ad;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

.listGames {
  border: #444;
  border-style: double;
}
